* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #303030;
  color: #fbf9fa;
  font-family: "IBMPlexMono";
  font-size: 22px;
  padding: 1.5rem;
}

.main {
  max-width: 500px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  padding: 1.5rem;
  border-radius: 1rem;
  border: 2px solid #fbf9fa46;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
  position: relative;
}

.main::after,
.main::before {
  position: absolute;
  content: "";
  border: 3px solid #fbf9facb;
}

.main::before {
  width: 45px;
  height: 65px;
  border-radius: 1rem 0 0 0;
  top: -20px;
  left: -20px;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.main::after {
  width: 75px;
  height: 125px;
  border-radius: 0 0 1.25rem 0;
  bottom: -20px;
  right: -20px;
  border-top-color: transparent;
  border-left-color: transparent;
}

.main h1 {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 2rem;
}

.main p {
  font-size: 1.25rem;
  max-width: 700px;
  font-weight: 100;
}

@media (max-width: 575px) {
  body {
    padding: 2.5rem;
  }
}
