* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #303030;
  color: #fbf9fa;
  font-family: "IBMPlexMono";
  font-size: 22px;
  box-sizing: border-box;
  padding: 1.5rem;
}

div {
  max-width: 500px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  padding: 1.5rem;
  border-radius: 1rem;
  border: 2px solid #fbf9fa46;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

h1 {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 2rem;
}

p {
  font-size: 1.25rem;
  max-width: 700px;
  font-weight: 100;
}
