:root {
  --bgColor: #fbf7fa;
  --primary: #241623;
  --cardBg: #100f1019;
  --background: url("./images/pexels-photo-326240.jpeg") var(--bgColor);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body[data-theme="dark"] {
  --bgColor: #100f10;
  --primary: #fbf9fa;
  --cardBg: #fbf3fa19;
  --background: url("https://images.unsplash.com/photo-1544411047-c491e34a24e0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fGRhcmslMjBiYWNrZ3JvdW5kfGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
    var(--bgColor);
}

body {
  min-height: 100vh;
  color: var(--primary);
  font-family: "IBMPlexMono";
  font-size: 22px;
}

%secondary-btn {
  position: relative;
  margin: 2rem;
  padding: 0.95rem 2rem;
  font-family: inherit;
  font-size: 1.2rem;
  background-color: #ff0055;
  color: #fbf9fa;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 5px 15px #ff005545;
  transition: transform 250ms;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.theme_changer {
  position: absolute;
  top: 18px;
  right: 18px;

  #theme_change {
    display: none;
  }

  .theme_change-label {
    display: inline-block;
    border-radius: 70px;
    width: 34px;
    height: 18px;
    background-color: var(--primary);
    position: relative;
    cursor: pointer;

    &::before {
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: 4px solid #ff0055;
      box-sizing: border-box;
      border-radius: 50%;
      left: -4px;
      transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
  }

  #theme_change:checked + .theme_change-label::before {
    transform: translateX(16px) translateY(-50%);
  }
}

.hero {
  padding: 1.5rem;
  background: var(--background);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  justify-content: space-evenly;
  padding: 0 7rem;
}

.hero-content {
  max-width: 500px;
  background: var(--cardBg);
  backdrop-filter: blur(6px);
  padding: 1.5rem;
  border-radius: 1rem;
  border: 2px solid #fbf9fa46;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);

  h1 {
    font-style: italic;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.25rem;
    max-width: 700px;
    font-weight: normal;
  }
}
.masked {
  transform: translate(50%, 55%);
}
.container {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.lottie {
  text-align: center;

  .lottie-btn {
    @extend %secondary-btn;

    &:active {
      transform: scale(0.98);
    }
  }

  .lottie_container {
    position: absolute;
    top: -4.25rem;
    right: -4.25rem;
  }
}

.audio-btn {
  @extend %secondary-btn;
}

/** Responsive **/
@media (max-width: 575px) {
  .hero {
    padding: 5rem 1.5rem;
    gap: 2rem;
    flex-direction: column;
  }
}
